.container-login {
  min-height: 100vh;
  min-width: 100%;
  background: url("../../public/img/background-login.png") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    min-height: 70vh;
  }
  .form {
    min-width: 100%;
    border-radius: 12px;
    min-height: 100%;
  }
}
